<launch>
<!-- FAST_LIO wrapper for GO2 competition Gazebo.
     FAST_LIO odometry starts at the initial LiDAR frame. This wrapper remaps
     raw FAST_LIO outputs and republishes them in the competition map frame. -->

    <arg name="rviz" default="true" />
    <arg name="spawn_x" default="0.0" />
    <arg name="spawn_y" default="-2.1" />
    <arg name="spawn_z" default="0.6" />
    <arg name="spawn_yaw" default="1.5708" />

    <rosparam command="load" file="$(find fast_lio)/config/mid360.yaml" />

    <param name="feature_extract_enable" type="bool" value="0"/>
    <param name="point_filter_num" type="int" value="3"/>
    <param name="max_iteration" type="int" value="3" />
    <param name="filter_size_surf" type="double" value="0.5" />
    <param name="filter_size_map" type="double" value="0.5" />
    <param name="cube_side_length" type="double" value="1000" />
    <param name="runtime_pos_log_enable" type="bool" value="0" />

    <node pkg="fast_lio" type="fastlio_mapping" name="laserMapping" output="screen">
        <remap from="/state_estimation" to="/fastlio/state_estimation_raw"/>
        <remap from="/registered_scan" to="/fastlio/registered_scan_raw"/>
    </node>

    <node pkg="vehicle_simulator" type="go2_competition_frame_bridge.py" name="go2_competition_frame_bridge" output="screen">
        <param name="offset_x" type="double" value="$(arg spawn_x)"/>
        <param name="offset_y" type="double" value="$(arg spawn_y)"/>
        <param name="offset_z" type="double" value="$(arg spawn_z)"/>
        <param name="offset_yaw" type="double" value="$(arg spawn_yaw)"/>
        <param name="map_frame" type="string" value="map"/>
        <param name="child_frame" type="string" value="body"/>
    </node>

    <group if="$(arg rviz)">
        <node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz" args="-d $(find fast_lio)/rviz_cfg/loam_livox.rviz" />
    </group>

</launch>
